.toast {
  position: absolute;
  // animation: fadeIn 4s;
  width: 100%;
  margin: 1rem 0;
  border-radius: 8px;

  &--success {
    color: #5fad56;
  }

  &--fail {
    color: #ea1601;
  }

  &__message {
    font-size: 14px;
  }
}

// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//     transform: translateX(3rem);
//     // height: 5rem;
//   }
//   30% {
//     opacity: 1;
//     transform: translateX(0);
//   }
//   100% {
//     opacity: 0;
//   }
// }
