.input {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    &__label {
        font-size: 14px;
        margin-bottom: 0.75rem;
    }

    &__field {
        border-radius: 8px;
        border-radius: 1px solid black;
        height: 2.5rem;
        padding: 0.3rem;
        font-size: 1.3rem;
    }

    &__error {
        margin-top: 0.5rem;
        color: red;
        font-size: 0.75rem;
    }
}