@use "/src/styles/partials/mixins" as *;

.input {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    &__label {
        @include label-text;
    }

    &__field {
        @include link-container;
    }

    &__error {
        margin-top: 0.5rem;
        color: red;
        font-size: 0.75rem;
    }
}